# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac Files
.DS_Store

# Editor files
.vscode/

# Data raw files
*.xlsx
*.json

# Builds
inst/doc

# Python files not needed
*.pyc
test.py

# Vignette files
vignettes/.build.timestamp
inst/doc/*.pdf
vignettes/help_files/help_image.pptx
vignettes/codeblock_files/code_chunk_images.pptx

installation.Rmd
